// White (http://www.colorhexa.com/ffffff)
$white: #fff;

// iDIN blue (http://www.colorhexa.com/00b0f0)
$idin-blue: #00b0f0;
// iDIN black (http://www.colorhexa.com/000000)
$idin-black: #000;
// iDIN light blue (http://www.colorhexa.com/d3e9ea)
$idin-light-blue: #d3e9ea;
// iDIN dark blue (http://www.colorhexa.com/1d5393)
$idin-dark-blue: #1d5393;
// iDIN coral  (http://www.colorhexa.com/ff4355)
$idin-coral: #ff4355;
